:root { 
    --nav-color:#535a20;
    --bottom-color:#c9c774;
    --left1-color:#769245;
    --left2-color:#918a77;
    --right-color:#ead270;
    --middle-color:#f4dfa8;
    --buttonl-color:#e2b737;
    --buttonr-color:#f3d946;
}